/*
  @file   /base/_bem.scss
  @desc   All BEM related styling should be placed in this file.
          (More information: www.getbem.com)
  @ver    1.0
*/

@function containsModifier($selector) {
  $selector: selectorToString($selector);
  @if str-index($selector, $bem-modifier-seperator) {
    @return true;
  } @else {
    @return false;
  }
}

@function selectorToString($selector) {
  $selector: inspect($selector); //cast to string
  $selector: str-slice($selector, 2, -2); //remove brackets
  @return $selector;
}

@function getBlock($selector) {
  $selector: selectorToString($selector);
  $modifierStart: str-index($selector, $bem-modifier-seperator) - 1;
  @return str-slice($selector, 0, $modifierStart);
}

@mixin b($block) {
  .#{$block} {
    @content;
  }
}

@mixin e($element) {
  $selector: &;
  @if containsModifier($selector) {
    $block: getBlock($selector);
    @at-root {
      #{$selector} {
        #{$block+$bem-element-seperator+$element} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      #{$selector+$bem-element-seperator+$element} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  @at-root {
    #{&}#{$bem-modifier-seperator+$modifier} {
      @content;
    }
  }
}
