/*
  @file   /components/_blocks.scss
  @desc   All Blocks related styling should be placed in this file.
  @ver    1.0
*/

// BLOCK: EXPERIENCE SLIDER
@include b(experience-slider) {
  padding: vw(50px, 25px) calc(50vw - 50%);
  margin: 0 calc(50% - 50vw);
  background-image: linear-gradient(180deg, transparent 50%, $light-bg 50%);

  @include e(header) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: vw(65px, 25px);

    .title {
      font-size: vw(40px, 24px);
      font-weight: 700;
      margin-bottom: 0;
    }

    .slider-navigation {
      position: relative;
      display: flex;
      column-gap: vw(20px, 10px);

      .slide-nav {
        position: relative;
        display: inline-block;
        width: vw(50px, 40px);
        height: vw(50px, 40px);
        border: vw(2px, 2px) solid #fff;
        @include border-radius(100px);
        @include animated;
        overflow: hidden;
        left: unset;
        right: unset;

        &:after {
          content: none;
        }

        .icon {
          @include center('both');
          display: block;
          width: 25%;
          height: 25%;
          border-right: vw(2px, 2px) solid #fff;
          border-bottom: vw(2px, 2px) solid #fff;
          transform: translate3d(-65%, -50%, 0) rotate3d(0, 0, 1, -45deg);
          @include animated;
        }

        &.prev .icon {
          transform: translate3d(-35%, -50%, 0) rotate3d(0, 0, 1, 135deg);
        }
      }
    }
  }

  @include e(slider) {

    .swiper {
      margin: 0 calc(50% - 50vw);
      padding: 0 calc(50vw - 50%);

      .swiper-wrapper {
        padding-bottom: 40px;
      }

      .swiper-slide {
        height: auto;
        box-sizing: border-box;
      }
    }
  }

  @include bp(custom, max, 767px) {
    padding: vw(50px, 25px) calc(50vw - 50%) 0;
  }
}

// BLOCK: EXPERIENCE LOOP ITEM
@include b(experience-loop-item) {
  height: 100%;
  color: $dark-text;
  background-color: #fff;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, .1);
  padding: vw(45px, 35px) vw(40px, 30px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;


  header {
    margin-bottom: vw(64px, 25px);

    .company {
      @include base-font;
      display: inline-block;
      color: $base-text;
      background-color: $primary;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.25em;
      padding: 0 5px;
      margin: 0 -5px;
    }
  }

  main {

    .title {
      @include large;
      font-weight: 700;
      margin-bottom: .85em;
    }

    .description {
      color: $gray-text;
      font-size: vw(18px, 14px);
      margin-bottom: vw(65px, 20px);
    }
  }

  footer {
    margin-top: auto;

    .date-range {
      color: $gray-text;
      font-family: $support-font;
      font-size: vw(14px, 12px);
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

// BLOCK: CONTENT WITH IMAGE
@include b(content-with-image) {
  margin: 0 calc(50% - 50vw);
  padding: vw(150px, 50px) calc(50vw - 50%) vw(100px, 30px);
  display: flex;
  align-items: center;
  column-gap: vw(143px, 50px);

  @include e(image) {
    position: relative;
    aspect-ratio: 800/580;
    width: vw(800px, 300px);
    flex-shrink: 0;
    box-shadow: vw(-35px) vw(35px) 0 $primary;

    .image-holder {
      @include abs-cover;

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    @include bp(custom, max, 767px) {
      width: 100%;
      margin-bottom: vw(120px, 50px);
    }
  }

  @include e(content) {

    .title {
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: vw(30px, 20px);

      .text-highlight {
        display: inline-block;
        color: $base-text;
        background-color: $primary;
        line-height: 1.05em;
        padding: 0 10px;
        margin: 0 -10px 5px;

        @include bp(custom, max, 767px) {
          margin: 0 0 5px;
        }
      }
    }

    .body {
      margin-bottom: vw(45px, 25px);

      p {
        color: $base-text;
        opacity: .8;
      }
    }

    .buttons {
      display: flex;
      gap: vw(20px, 10px) vw(30px, 20px);

      @include bp(custom, max, 767px) {
        flex-direction: column;
        align-items: center;
      }
    }

    @include bp(custom, max, 767px) {
      padding: 0 20px;
    }
  }

  @include m(light) {
    color: $dark-text;
    background: $light-bg;

    @include e(content) {

      .body p {
        color: $gray-text;
      }
    }
  }

  @include m(reversed) {
    flex-direction: row-reverse;

    @include e(image) {
      box-shadow: vw(35px) vw(35px) 0 $primary;
    }
  }

  @include bp(custom, max, 1279px) {
    align-items: flex-start;
  }

  @include bp(custom, max, 767px) {
    display: block;
  }
}

// BLOCK: ABOUT ME
@include b(about-me) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: vw(120px, 50px);
  margin: 0 calc(50% - 50vw);
  padding: vw(150px, 50px) calc(50vw - 50%) vw(150px, 50px) 0;

  @include e(content) {

    .title {
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: vw(30px, 20px);

      .text-highlight {
        display: inline-block;
        color: $base-text;
        background-color: $primary;
        line-height: 1.05em;
        padding: 0 10px;
        margin: 0 -10px 5px;

        @include bp(custom, max, 767px) {
          margin: 0 0 5px;
        }
      }
    }

    .body {
      margin-bottom: vw(60px, 20px);

      p {
        opacity: .8;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .skill-levels {

      .levels-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: vw(10px, 5px) vw(25px, 15px);

        .level-item {
          @include support-font;
          display: inline-flex;
          align-items: center;
          color: rgba($base-text, .8);

          span {
            display: inline-block;
            width: .5em;
            height: .5em;
            background: $base-text;
            margin-right: .5em;
            @include border-radius(100%);
          }

          &.level-item--beginner span {
            background: #DE454B;
          }

          &.level-item--intermediate span {
            background: #3F68DA;
          }

          &.level-item--proficient span {
            background: #78E855;
          }

          &.level-item--expert span {
            background: #B43FDA;
          }

          @include bp(custom, max, 767px) {
            flex-basis: 45%;
          }
        }
      }
    }

    @include bp(custom, max, 767px) {
      padding: 0 20px;
      margin-bottom: vw(120px, 50px);
    }
  }

  @include e(skills) {
    width: vw(1030px, 400px);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      @include abs-cover;
      background-image: linear-gradient(to right, $dark-bg 0%, transparent 10%, transparent 60%, $dark-bg 100%);

      @include bp(custom, max, 767px) {
        background-image: linear-gradient(to right, $dark-bg 0%, transparent 30%, transparent 70%, $dark-bg 100%);
      }
    }

    .skill-row {
      position: relative;
      width: 100%;
      margin-bottom: vw(20px, 10px);
      --animation-speed: 50s;

      .inner-wrapper {
        position: relative;
        display: flex;
        gap: vw(20px, 10px);
      }

      &:nth-child(odd) .inner-wrapper {
        animation: scrollToLeft linear var(--animation-speed) infinite;
      }

      &:nth-child(even) .inner-wrapper {
        transform: translate3d(-106.75%, 0, 0);
        animation: scrollToRight linear var(--animation-speed) infinite;

        @include bp(custom, max, 767px) {
          transform: translate3d(-212.5%, 0, 0);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include bp(custom, max, 767px) {
      width: auto;
      margin: 0 calc(50% - 50vw);
    }
  }

  @include bp(custom, max, 767px) {
    display: block;
    padding: vw(150px, 80px) calc(50vw - 50%);
  }
}

// BLOCK: SKILL LOOP ITEM
@include b(skill-loop-item) {
  aspect-ratio: 200/90;
  height: vw(90px, 70px);
  padding: vw(20px, 10px) vw(25px, 15px);
  background: #0E0E0E;
  border: 3px solid #161616;
  flex-shrink: 0;
  @include border-radius(4px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .level {
    display: inline-flex;
    align-items: center;
    color: $gray-text;

    p {
      @include base-font;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      line-height: 1.22222222em;
      margin-bottom: 0;
    }

    span {
      display: inline-block;
      width: .5em;
      height: .5em;
      background: $base-text;
      margin-right: .5em;
      @include border-radius(100%);
    }

    &.level--beginner span {
      background: #DE454B;
    }

    &.level--intermediate span {
      background: #3F68DA;
    }

    &.level--proficient span {
      background: #78E855;
    }

    &.level--expert span {
      background: #B43FDA;
    }
  }

  .name {
    @include base-font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.22222222em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
  }
}

// BLOCK: PROJECTS HIGHLIGHT
@include b(projects-highlight) {
  margin: 0 calc(50% - 50vw);
  padding: vw(100px, 50px) vw(50px, 30px);

  @include e(wrapper) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: vw(50px, 25px);
  }
}

// BLOCK: PROJECT LOOP ITEM
@include b(project-loop-item) {
  position: relative;
  isolation: isolate;
  aspect-ratio: 1;
  padding: vw(70px, 40px) vw(70px, 30px);

  @include e(image) {
    @include abs-cover;
    z-index: -1;

    .image-holder {
      @include abs-cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  @include e(header) {

    .title {
      @include support-font;
      font-size: vw(50px, 26px);
      font-weight: 900;
      line-height: 1.24em;
      text-transform: uppercase;
      margin-bottom: vw(12px, 6px);
    }

    .short {
      width: vw(260px, 160px);
      line-height: 1.4em;

      @include bp(custom, max, 767px) {
        width: 80%;
      }
    }

    .title,
    .short {
      color: $dark-text;
    }
  }

  @include e(arrow) {
    position: absolute;
    top: vw(70px, 40px);
    right: vw(70px, 30px);
    z-index: 1;
    width: vw(50px, 40px);
    height: vw(50px, 40px);
    border: vw(2px, 2px) solid $dark-text;
    @include border-radius(100px);

    .icon {
      @include center('both');
      display: block;
      width: 25%;
      height: 25%;
      border-top: vw(2px, 2px) solid $dark-text;
      border-right: vw(2px, 2px) solid $dark-text;
      transform: translate3d(-65%, -35%, 0);
    }
  }
}

// BLOCK: CALL TO ACTION
@include b(call-to-action) {
  margin: 0 calc(50% - 50vw);
  padding: vw(100px, 50px) calc(50vw - 50%);
  background: linear-gradient(0deg, $light-bg 50%, $dark-bg 50%);

  .inner-wrapper {
    position: relative;
    color: $dark-text;
    background-color: #fff;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, .1);
    padding: vw(100px, 35px) vw(108px, 24px);
  }

  @include e(content) {
    position: relative;
    z-index: 1;

    h2 {
      font-size: vw(80px, 28px);
      font-weight: 900;
      line-height: 1.125em;
      text-transform: uppercase;
      margin-bottom: vw(30px, 20px);
      width: vw(810px, 400px);

      .text-highlight {
        display: inline-block;
        color: $base-text;
        background-color: $primary;
        line-height: inherit;
        padding: 0 10px;
        margin: 0 -10px 5px;

        @include bp(custom, max, 767px) {
          margin: 0 0 5px;
        }
      }

      @include bp(custom, max, 767px) {
        width: 100%;
        max-width: 20ch;
      }
    }

    p {
      max-width: 45%;
      font-weight: 600;
      line-height: 1.5em;
      margin-bottom: 0;

      @include bp(custom, max, 767px) {
        max-width: 24ch;
      }
    }

    @include bp(custom, max, 767px) {
      margin-bottom: 40vw;
    }
  }

  @include e(image) {
    aspect-ratio: 603/441;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    &:after {
      content: '';
      @include abs-cover;
      background: linear-gradient(295deg, rgba($base-text, 0) 50%, rgba($base-text, 1) 74%);

      @include bp(custom, max, 767px) {
        background: linear-gradient(355deg, rgba($base-text, 0) 60%, rgba($base-text, 1) 85%);
        margin: 0 0 5px;
      }
    }

    .image-holder {
      @include abs-cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    @include bp(custom, max, 767px) {
      height: auto;
      width: 100%;
      top: auto;
      bottom: 0;
    }
  }

  @include e(links) {
    position: absolute;
    right: vw(108px, 24px);
    bottom: vw(60px, 35px);
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: vw(30px, 20px);

    .main-btn {
      flex-shrink: 0;

      @include hover {
        box-shadow: vw(10px) vw(10px) 0 $dark-bg;
        transform: translate3d(vw(-10px), vw(-10px), 0);
      }

      @include bp(custom, max, 767px) {
        margin-bottom: 10px;
      }
    }

    .socialmedia {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      column-gap: vw(20px, 10px);

      li {

        a {
          cursor: pointer;
          display: block;
          aspect-ratio: 1;
          width: vw(25px, 20px);

          svg {
            width: 90%;
            height: 90%;
            fill: #fff;
            filter: drop-shadow(0 0 0 $dark-bg);
            @include animated;
          }

          @include hover {

            svg {
              fill: $primary;
              filter: drop-shadow(vw(2px) vw(2px) 0 $dark-bg);
              transform: translate3d(vw(-2px), vw(-2px), 0);
            }
          }
        }
      }

      @include bp(custom, max, 767px) {
        justify-content: flex-end;
      }
    }

    @include bp(custom, max, 767px) {
      display: block;
    }
  }
}

// BLOCK: PHOTO BOOK
@include b(photo-book) {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: vw(100px, 50px) 0;

  @include bp(custom, max, 767px) {
    gap: 10px;
  }
}

// BLOCK: PHOTO BOOK LOOP ITEM
@include b(photo-book-loop-item) {
  position: relative;
  width: calc(40% - 15px);
  overflow: hidden;
  @include animated;

  .image-holder {

    img {
      aspect-ratio: 511/585;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .image-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: vw(20px, 10px) vw(20px, 10px);
    background-color: rgba($dark-bg, .9);
    transform: translateY(100%);
    @include animated;

    p {
      @include small;
      margin: 0;
    }

    @include bp(custom, max, 1279px) {
      transform: none;
    }
  }

  &:nth-child(4n+2),
  &:nth-child(4n+3) {
    width: calc(60% - 15px);

    .image-holder {

      img {
        aspect-ratio: 975/585;
      }
    }
  }

  @include hover {
    .image-caption {
      transform: translateY(0);
    }
  }

  @include bp(custom, max, 767px) {
    width: 100%;

    .image-holder img {
      aspect-ratio: 1;
    }

    &:nth-child(4n+2),
    &:nth-child(4n+3) {
      width: 100%;

      .image-holder img {
        aspect-ratio: 1;
      }
    }
  }
}
