/*
  @file   /components/_buttons.scss
  @desc   All button related styling should be placed in this file.
  @ver    1.0
*/

// BASE ANCHOR STYLING
a {
  color: $primary;
  outline: none;

  @include hover {
    outline: none;
    color: $dark-text;
  }
}


// BLOCK: BASE BUTTON STYLING
%button-base {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  line-height: 1;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: vw(18px, 14px);
  font-weight: 700;
  position: relative;

  &:focus {
    outline: none;
  }
}

// BLOCK: MAIN BUTTONS
@include b(main-btn) {
  @extend %button-base;
  color: $base-text;
  background: $dark-bg;
  padding: vw(20px, 10px) vw(36px, 20px);
  box-shadow: 0 0 0 $primary;
  @include animated;

  @include hover {
    color: $base-text;
    box-shadow: vw(-10px) vw(10px) 0 $primary;
    transform: translate3d(vw(10px), vw(-10px), 0);
  }

  @include m(diap) {
    color: $dark-text;
    background: $base-text;

    @include hover {
      color: $dark-text;
    }
  }

  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background: $disabled-color;
      cursor: not-allowed;
    }
  }
}

// BLOCK: CLEAR BUTTONS
@include b(clear-btn) {
  @extend %button-base;
  color: $dark-text;
  background-image: linear-gradient(to right, $primary 50%, $dark-bg 50%);
  background-size: 200% 100%;
  background-position: 100% 100%;
  padding: vw(20px, 10px) 0;
  -webkit-text-fill-color: rgba(0 ,0 ,0 , 0);
  -webkit-background-clip: text;
  @include animated;

  //&:after {
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  bottom: vw(10px, 5px);
  //  width: 100%;
  //  height: 3px;
  //  background: $primary;
  //  transform-origin: left center;
  //  transform: scale3d(0, 1, 1);
  //  @include animated;
  //}

  @include hover {
    background-position: 0 100%;

    //&:after {
    //  transform: none;
    //}
  }

  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background: $disabled-color;
      cursor: not-allowed;
    }
  }
}

