/*
  @file   /components/_image-carousel.scss
  @desc   All image carousel related styling should be placed in this file.
  @ver    1.0
*/

// BLOCK: SCROLLING IMAGE CAROUSEL
@include b(scrolling-image-carousel) {
  position: relative;
  perspective: 20000px;
  
  .inner-wrapper {
    position: absolute;
    height: 120%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 15deg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: vw(20px, 10px);
  }
  
  .column {
    width: 100%;
    --animation-speed: 340s;
    
    .image-holder {
      position: relative;
      overflow: hidden;
      margin-bottom: vw(20px, 10px);

      img {
        display: block;
        width: 100%;
        aspect-ratio: 1/1.25;
        object-fit: cover;
        object-position: center;
        background: mix($dark-bg, $light-bg, 95);
      }
    }
    
    &:nth-child(odd) {
      animation: scrollToTop linear var(--animation-speed) infinite;
    }
    
    &:nth-child(even) {
      transform: translate3d(0, -50%, 0);
      animation: scrollToBottom linear var(--animation-speed) infinite;
    }
  }
}
